![](https://media-exp1.licdn.com/dms/image/C4D0BAQHUQWhqV2rl1g/company-logo_200_200/0/1550502396615?e=2159024400&v=beta&t=_mM0D3cbDu8DL3MUvcb75g65zJ-c4Wd0nrguJGoW_gE)

# SQL - pod-zapytania

_Mikołaj Leszczuk_

![](https://www.sohamkamani.com/static/d2a21e9620c9911c4896895a2a6d189f/20f07/meme1.jpg)

* Pod-zapytania
* Zadania utrwalające 3

## Pod-zapytania

Tworzenie podzapytania polega na zagnieżdżaniu zapytania w innym zapytaniu.

Aby je zagnieździć, wystarczy w miejscu, w którym oczekujemy zwróconej przez podzapytanie wartości, wstawić nawiasy i zapisać pomiędzy nimi zapytanie w takiej samej formie jak zwykłe zapytanie.

```sqlite
SELECT kolumna,kolumna2,.. FROM tabela WHERE kolumna=(SELECT kolumna FROM tabela2);
```

#### Przykład

**Wybieramy id, imię i nazwisko autora który napisał książkę o tytule “`Solaris`”**

Tabela **`Authors`**:

In [ ]:
%LOAD library_db.db rw

In [ ]:
SELECT * FROM authors;

Tabela **`Titles`**:

In [ ]:
SELECT * FROM titles;

Zapytanie i wynik zapytania:

In [ ]:
SELECT id,name,surname FROM authors WHERE id=(SELECT author_id FROM titles WHERE title='Solaris');

#### Ćwiczenie

**Wybierz id i nazwę produktów zamówionych w zamówieniu o id `2`**

Tabela **`Product`**:

In [ ]:
%LOAD CodeBrainers.db rw

In [ ]:
SELECT * FROM product;

Tabela **`Order_product`**:

In [ ]:
SELECT * FROM order_product;

Wpisz zapytanie do bazy!

---

Zapytanie i wynik zapytania:

In [ ]:
SELECT id,name FROM product WHERE id IN (SELECT product_id FROM order_product WHERE order_id=2);

Wynik każdego zapytania `SELECT` można traktować jak kolejną (wirtualną) tabelę. W efekcie możemy wykonywać na takiej tabeli zapytania.

* Pod-zapytania w `FROM`
* Pod-zapytania w `WHERE`
* Pod-zapytania w `SELECT`

### Podzapytania w `FROM`

#### Przykład

**Załóżmy, że mamy gotowe zapytanie o listę użytkowników biblioteki wraz z liczbą książek pożyczonych przez każdego z nich.**

Tabela **`Users`**:

In [ ]:
%LOAD library_db.db rw

In [ ]:
SELECT * FROM users;

Tabela **`Borrowings`**:

In [ ]:
SELECT * FROM borrowings;

Zapytanie i wynik zapytania:

In [ ]:
SELECT users.name, users.surname, COUNT(borrowings.ID) AS activity FROM users JOIN borrowings
ON users.ID=borrowings.user_id GROUP BY users.ID;

Na wyniku tego zapytania możemy wykonać kolejne zapytanie, by otrzymać listę użytkowników, którzy pożyczyli więcej niż 10 książek.

Zapytanie i wynik zapytania:

In [ ]:
SELECT * FROM
(
    SELECT users.name, users.surname, COUNT(borrowings.ID) AS activity FROM users JOIN borrowings
    ON users.ID=borrowings.user_id GROUP BY users.ID
)
WHERE activity>10;

### Podzapytania w `WHERE`

#### Przykład

**Zapytania zwracające w wyniku pojedynczą wartość możemy użyć np. w wyrażeniach warunkowych (`WHERE`, `HAVING`). Mając zapytanie o średnią liczbę wypożyczeń dokonanych przez użytkownika.**

Tabela **`Borrowings`**:

In [ ]:
SELECT * FROM borrowings;

Zapytanie i wynik zapytania:

In [ ]:
SELECT 1.0*COUNT(DISTINCT borrowings.ID)/COUNT(DISTINCT borrowings.user_id) FROM borrowings;

**Możemy napisać zapytanie zwracające listę użytkowników pożyczających więcej książek niż średnia.**

Tabela **`Users`**:

In [ ]:
SELECT * FROM users;

Zapytanie i wynik zapytania:

In [ ]:
SELECT users.name,users.surname, COUNT(borrowings.ID) AS books_borrowed FROM users JOIN borrowings 
ON users.ID=borrowings.user_id GROUP BY users.ID HAVING books_borrowed>
(
    SELECT 1.0*COUNT(DISTINCT borrowings.ID)/COUNT(DISTINCT borrowings.user_id) FROM borrowings
)
;

### Podzapytania w `SELECT`

#### Przykład

**Analogicznie do poprzedniego przypadku - jeśli podzapytanie zwraca pojedynczą wartość, możemy je użyć jako jedną z kolumn w głównym zapytaniu.**

Tabela **`Users`**:

In [ ]:
SELECT * FROM users;

Tabela **`Borrowings`**:

In [ ]:
SELECT * FROM borrowings;

Zapytanie i wynik zapytania:

In [ ]:
SELECT users.name,users.surname, 
(
    SELECT COUNT(borrowings.ID) FROM borrowings WHERE borrowings.user_id=users.ID
) 
AS books FROM users;

Co ważne - w podzapytaniu (w tym przypadku z tabeli **`Borrowings`**) możemy odwołać się do tabeli i pól z zapytania zewnętrznego (**`Users`**)

### Wydajność

Nie musimy się martwić o wydajność takich podzapytań - mimo że pozornie liczenie średniej liczby wypożyczeń powinno się wykonywać z osobna dla każdego rekordu użytkownika, baza danych optymalizuje plan zapytania. Jeśli chcemy sprawdzić, jak nasze zapytanie przekłada się na operacje wykonywane w bazie, możemy przed treścią zapytania dodać komendę `EXPLAIN QUERY PLAN` - zapytanie nie zostanie wtedy wykonane, otrzymamy jednak listę kroków, które baza danych chce wykonać.

#### Przykład

Zapytanie i wynik zapytania:

In [ ]:
EXPLAIN QUERY PLAN 
SELECT users.name, users.surname,COUNT(borrowings.ID) AS books_borrowed FROM users JOIN borrowings 
ON users.ID=borrowings.user_id GROUP BY users.ID HAVING books_borrowed>
(
    SELECT 1.0*COUNT(DISTINCT borrowings.ID)/count(DISTINCT borrowings.user_id) FROM borrowings
)
;

## Zadania utrwalające 3

### Ćwiczenia

[`03_subquerries.md`](https://github.com/pkociepka/sql/blob/master/exercises/03_subquerries.md)

### Materiały

[`library_db.sql`](https://github.com/pkociepka/sql/blob/master/library_db.sql)